<div class="border border-solid border-gray-200 p-3 w-full md:w-1/3 mx-auto">
  <div class="text-4xl text-center">
    Setup account recovery
  </div>

  <div>
    1) Save this code somewhere save
    <div class="font-bold">
      <%= @recover_key %>
    </div>
  </div>

  <div>
    2) Take a picture of this qr code, and keep it safe

    <%= stimulus_controller "utils/qr_code", data: { qr_code: @recover_key }, class: "text-center" %>
  </div>

  <div class="mt-4">
    <%= button_to "Confirm that you saved this information", recovery_sessions_path, class: "button w-full text-3xl", method: :post %>
  </div>
</div>