<div class="text-center shadow-xl bg-yellow-200 w-max mx-auto mt-6 shadow p-2">
  <span>You cannot recover your account</span> <%= link_to "please complete your account recovery", recovery_sessions_path, class: "text-black" %>
</div>