<div>
  Response body
</div>

<% json = @doc.dig(:child, :json) %>

<% if json.present? %>
  <div>
    <pre>
      <code class="json">
<%= JSON.pretty_generate(json) %>
      </code>
    </pre>
  </div>
  <% else %>

  <div>
    <pre>
      <code class="plaintext">
""
      </code>
    </pre>
  </div>
<% end %>

<div>
  Filters:

  <ol class="pl-4">
    <% @doc.dig(:child, :filters).each do |f| %>
      <li class="list-disc">
        <%= f %>
      </li>
    <% end %>
  </ol>
</div>
