<div>
  Response body
</div>

<% json = @doc.dig(:child, :json) %>

<% if json.present? %>
  <div>
    <pre>
      <code class="json">
<%= JSON.pretty_generate(json) %>
      </code>
    </pre>
  </div>
  <% else %>

  <div>
    <pre>
      <code class="plaintext">
""
      </code>
    </pre>
  </div>
<% end %>
