<div class="px-2 py-4 border border-solid border-gray-200">
  <div class="flex justify-between items-center">
    <div class="text-gray-600">
      Add to Your Post
    </div>

    <%= stimulus_controller :div, "form_attachments/image", data: { images_container: images_container, submit_button: submit_button } do %>
      <%= psm_rounded "aria-label": "Picture", data: { action: "click->form-attachments--image#addImage" } do %>
        <%= fa_icon "image", class: "text-lg m-1 text-white" %>
      <% end %>
    <% end %>
  </div>
</div>