<div>
  <% if gallery_element.element.is_a?(ImageFile) %>
    <%= image_tag gallery_element.element.image_url(:thumbnail), class: "w-full h-32 object-cover object-center" %>
  <% elsif gallery_element.element.is_a?(VideoFile) %>
    <%= image_tag gallery_element.element.video_url(:original_screenshot), class: "w-full h-32 object-cover object-center" %>
  <% end %>
</div>
