<div class="fixed pt-5 navbar right-0 pb-1">
  <div class="bg-white rounded-lg shadow-lg mr-4 px-2 py-4 h-16 flex items-center justify-between">
    <div class="text-gray-700">
      {{Page Title}}
    </div>

    <div class="flex">
      <div>
        <%= react_component "top-search" %>
      </div>

      <div>
        Messages
      </div>

      <div>
        Notifications
      </div>

      <div>
        Avatar
      </div>
    </div>
  </div>
</div>
